[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cosa"]
	path = cosa
	url = https://github.com/metinbulus/cosa
[submodule "irtDemo"]
	path = irtDemo
	url = https://github.com/metinbulus/irtdemo
[submodule "PowerUpR"]
	path = PowerUpR
	url = https://github.com/metinbulus/powerupr
[submodule "pwrss"]
	path = pwrss
	url = https://github.com/cran/pwrss
